<div class="target-images">
    <img id="img-bg" class="console-image" src="../../../assets/images/wears/wear1/001_console.jpg" alt=""(load)='onImageLoaded("img-bg")'>
    <img id="img-main" class="additional-image" (load)='onImageLoaded("img-main")' src="../../../assets/images/wears/wear1/001_main.png" alt="">
    
    <img id="img-add-1" class="additional-image" (load)='onImageLoaded("img-add-1")' src="../../../assets/images/wears/wear1/001_add_1.png" alt="">
    <img id="img-add-2" class="additional-image" (load)='onImageLoaded("img-add-2")' src="../../../assets/images/wears/wear1/001_add_2.png" alt="">
    <img id="img-add-3" class="additional-image" (load)='onImageLoaded("img-add-3")' src="../../../assets/images/wears/wear1/001_add_3.png" alt="">
  </div>