<h3>Выбранная комбинация:</h3>
<div class="info-container">
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>
  <div class="info-line">
    <h4>Основной материал:</h4>
    <p>CORDURA INVISTA, 500 DEN, БЕЗ PU</p>
  </div>
  <div class="info-line">
    <h4>Дополнительный материал:</h4>
    <p>CORDURA INVISTA, 500 DEN, БЕЗ PU</p>
  </div>
  <div class="info-line">
    <h4>Декоративная полоса:</h4>
    <p>CORDURA INVISTA, 500 DEN, БЕЗ PU</p>
  </div>
</div>