.info-line{
    h4{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: normal;

        color: #808080;
    }
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: normal;

        color: #808080;
    }
}

.color-picker__color-select{
    margin-right: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    //background: #3F32E6;
    &.selected{
        border: 2px solid #000000;
    }
}
.color-picker__color-stack{
    margin-top: 25px;
    display: inline-block;
    margin: 0;
    margin-right: 2px;
    height: 30px;
    border: 2px solid #000000;
    .color-picker__color-select{
        margin: 0;
        width: 10px;
        border: none;
    }
}
.info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}