.color-picker{
    margin-top: 10px;
    display: block;
}
.color-picker__color-select{
    margin-right: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    //background: #3F32E6;
    &.selected{
        border: 2px solid #000000;
    }
}
.color-picker__color-stack{
    display: inline-block;
    margin: 0;
    margin-right: 2px;
    height: 30px;
    border: 2px solid #000000;
    .color-picker__color-select{
        margin: 0;
        width: 10px;
        border: none;
    }
}
input[type=text] {
    width: 170px;
    height: 30px;
    box-sizing: border-box;
    margin-right: 20px;
}
input[type=button] {
    width: 120px;
    height: 30px;
    background: #2378D3;
    border: none;
    border-radius: 2px;
    color: white;
}
.load-image{
    margin-top: 15px;
    background: none;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: normal;
    text-decoration-line: underline;
    color: #2378D3;
}