<h3>Основной материал и цвет</h3>
<select>
  <option value="volvo">ТКАНЬ CORDURA INVISTA, 500 DEN, БЕЗ PU</option>
  <option value="saab">ТКАНЬ CORDURA INVISTA, 500 DEN, БЕЗ PU</option>
  <option value="mercedes">ТКАНЬ CORDURA INVISTA, 500 DEN, БЕЗ PU</option>
  <option value="audi">ТКАНЬ CORDURA INVISTA, 500 DEN, БЕЗ PU</option>
</select>
<div class="color-picker">
  <div class="color-picker__color-select" *ngFor="let color of mainColors; let idx = index"
    [ngStyle]="{'background': color}" (click)="changeColor('main',color,idx)" [class.selected]="mainSelect===idx"></div>
</div>

<h3>Дополнительный материал и цвет</h3>
<select>
  <option value="volvo">ТКАНЬ CORDURA INVISTA, 500 DEN, БЕЗ PU</option>
  <option value="saab">ТКАНЬ CORDURA INVISTA, 500 DEN, БЕЗ PU</option>
  <option value="mercedes">ТКАНЬ CORDURA INVISTA, 500 DEN, БЕЗ PU</option>
  <option value="audi">ТКАНЬ CORDURA INVISTA, 500 DEN, БЕЗ PU</option>
</select>
<div class="color-picker">
  <div class="color-picker__color-select" *ngFor="let color of addColors; let idx = index"
    [ngStyle]="{'background': color}" (click)="changeColor('add',color,idx)" [class.selected]="addSelect===idx"></div>

</div>

<h3>Декоративная полоса</h3>
<select>
  <option value="volvo">Огнестойкая световозвращающая XM-7012</option>
  <option value="saab">Огнестойкая световозвращающая XM-7012</option>
  <option value="mercedes">Огнестойкая световозвращающая XM-7012</option>
  <option value="audi">Огнестойкая световозвращающая XM-7012</option>
</select>
<div class="color-picker">
  <div class="color-picker__color-select" *ngFor="let color of lineColors; let idx = index"
    [ngStyle]="{'background': color}" (click)="changeColor('line',color,idx)" [class.selected]="lineSelect===idx"></div>
  <!-- <div class="color-picker__color-select"></div>
  <div class="color-picker__color-select"></div>
  <div class="color-picker__color-select"></div>
  <div class="color-picker__color-select"></div>
  <div class="color-picker__color-select"></div> -->

</div>

<h3>Рекомендуемые комбинации</h3>

<div class="color-picker">
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>
  <div class="color-picker__color-stack">
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
    <div class="color-picker__color-select"></div>
  </div>

</div>

<h3>Добавить логотип / текст</h3>
<div class="add-text">
  <input type="text" name="text-insert" id="">
  <input type="button" value="Вставить текст">
</div>

<div>
  <button class="load-image">Загрузить изображение</button>
</div>