<div class="main-container">
  <div class="title">
    <h1>Выберите тип ткани и цвет</h1>
    <a href="http://" target="_blank" rel="noopener noreferrer">Как подобрать ткань?</a>
  </div>


  <app-configurator></app-configurator>
  <app-model-viewer></app-model-viewer>
</div>
<div class="main-container">
    <app-model-info></app-model-info>
</div>