.main-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    clear: both;
}
.title{
    h2{
        //width:300px
    }
    display: flex;
    a{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: normal;
        text-decoration-line: underline;
        color: #2378D3;
        margin-top: 35px;
        margin-left: 15px;
    }
}
app-configurator{
    float: left;
}

app-model-viewer{
    float: left;
    margin-left: 250px;
}